:root {
  --text-color: #ffffff;
  --bg-color: #00b374;
  --shadow-color: #007a4d;
  --shadow-hover: #42d953;
  --main-color: #427cd9;
  --secondary-color: #b3003f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Pattanakarn;
  src: url("../Pattanakarn_Regular.ttf");
}

:root {
  --text-color: #632628;
  --bg-color: #ff5b61;
  --shadow-color: #b83f43;
  --shadow-hover: #f1a5a5;
  --main-color: #ff5b61;
  --secondary-color: #be026c;
}

body {
  font-family:
    Pattanakarn,
    JetBrains Mono,
    monospace;
}

.hero {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hero > * {
  position: absolute;
}

.bits {
  top: -28px;
  left: 0px;
  width: 12%;
  z-index: 2;
  overflow: visible;
}

#bits2 {
  right: 0px;
  bottom: -28px;
  width: 12%;
  transform: scaleY(-1);
  overflow: visible;
}

.lines {
  top: 50%;
  left: 50%;
  height: 120%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0.9;
}

.logo {
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  z-index: 4;
}

#typedtext {
  font-size: 50px;
  color: #42c8d9;
}

.date-button {
  position: absolute;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
  color: #42c8d9;
  z-index: 3;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  margin-right: 30px;
  color: #42c8d9;
}

.regist-button {
  margin-left: 30px;
  font-size: 30px;
  background-color: #00b374 !important;
  border-radius: 10px;
  font-family:
    Pattanakarn,
    JetBrains Mono,
    monospace;
  box-shadow:
    #007a4d 0 -25px 18px -14px inset,
    #007a4d 0 1px 2px,
    #007a4d 0 2px 4px,
    #007a4d 0 2px 4px,
    #007a4d 0 6px 12px,
    #007a4d 0 6px 12px !important;
  color: white !important;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.regist-button:hover {
  box-shadow:
    #42d953 0 -25px 18px -14px inset,
    #42d953 0 1px 2px,
    #42d953 0 2px 4px,
    #42d953 0 2px 4px,
    #42d953 0 6px 12px,
    #42d953 0 6px 12px !important;
  transform: scale(1.05);
  background-color: #42d953 !important;
}

@media (max-width: 1199px) {
  .logo {
    top: 25%;

    width: 500px;
  }
  .date-button,
  #typedtext {
    font-size: 40px;
  }
  .regist-button {
    font-size: 25px;
  }
  .bits,
  #bits2 {
    display: none;
  }
}

@media (max-width: 800px) {
  .date-button,
  #typedtext {
    font-size: 32px;
  }
  .regist-button {
    font-size: 20px;
    margin-left: 20px;
  }
  .date-button {
    bottom: 30%;
  }
  .date {
    margin-right: 20px;
  }

  .lines {
    top: 40%;
  }
}

@media (max-width: 600px) {
  .date-button,
  #typedtext {
    font-size: 30px;
  }
  .regist-button {
    font-size: 20px;
  }
  .date-button {
    bottom: 28%;
  }
}

@media (max-width: 500px) {
  .logo {
    top: 27%;
    width: 350px;
  }
  .date-button {
    flex-direction: column;
    top: 27%;
    margin-top: 140px;
  }
  .date {
    margin: 0 auto;
  }
  .regist-button {
    margin: 0 auto;
  }
}

@media (max-width: 420px) {
  .date-button {
    flex-direction: column;

    margin-top: 120px;
  }
  #typedtext {
    line-height: 1.2;
  }
  .logo {
    width: 320px;
  }
}
