::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #1b1630;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #1c183ad5;
}

::-moz-selection {
  color: #ffffff;
  background: #ff5b61;
}

::selection {
  color: rgb(255, 255, 255);
  background: #ff5b61;
}

@font-face {
  font-family: Pattanakarn;
  src: url("../Pattanakarn_Regular.ttf");
}

body {
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Pattanakarn, JetBrains Mono, monospace;
  overflow-x: hidden !important;
  background-color: #1b1630;
}

a {
  color: #ff5b61; /* Sets the text color to orange */
  text-decoration: none; /* Optional: Removes underline */
}

a:hover {
  text-decoration: underline; /* Optional: Adds underline on hover */
}

html {
  scroll-behavior: smooth;
}

.intro {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 83vh;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  border: 2px solid #fff;
  border-radius: 5px;
}

#mlh-code-conduct {
  padding: 0;
  margin-bottom: 10vh;
}

#mlh-code-conduct-title {
  min-width: 100%;
  background-color: #862946;
  text-align: center;
}

#mlh-code-conduct-content {
  background-color: #550e25;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}

#mlh-code-conduct-link {
  width: fit-content;
  margin-bottom: 20px;
}


#sponsors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15rem;
  margin-bottom: 7rem;
  position: relative;
}

.sponsor-container {
  position: relative;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
  padding: 40px 20px;
  text-align: center;
  background-color: white;
  z-index: 5;
  min-width: 100%;
}

.sponsor-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  width: 70%;
}

.sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s;
}

#nordsec {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

#nordsec a img {
  height: 110px; /* Increased from 64px to 96px */
  transition: transform 0.3s ease;
  filter: brightness(0.95);
}

#Druide a img {
  width: 45%;
}

#JACFA a img {
 width: 70%;
}

#sponsors-title h1 {
  font-size: 200px;
}

.border-outline {
  position: absolute;
  z-index: 0;
  bottom: 10px;
  right: -20px;
  width: 90%;
  background-color: #ff5b61;
  height: 90%;
}

@media (max-width: 1000px) {
  #sponsors {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  #nordsec {
    gap: 24px;
  }

  #nordsec a img {
    height: 85px; /* Slightly smaller on mobile */
  }

  #Druide a img {
    width: 60%;
   }

   .border-outline {
    height: 85%;
    bottom: 15px;
    right: -15px;
   }

  #JACFA a img {
    width: 80%;
   }
   .sponsor-container {
    padding: 15px;
  }
}

@media (max-width: 600px) {
    #sponsors {
    margin-top:3rem;
    margin-bottom: 2rem;
    gap: 0.5rem;
    padding: 0;
  }
  .sponsor-container {
    padding: 10px;
  }
  #nordsec {
    gap: 15px;
  }

  #Druide a img {
    width: 70%;
  }

  #JACFA a img {
    width: 100%;
   }
   .border-outline {
    height: 70%;
    bottom: 20px;
    right: -10px;
   }
}

@media (max-width: 500px) {
  #nordsec a img {
    height: 50px; /* Slightly smaller on mobile */
  }
}

@media (max-width: 400px) {
  #nordsec a img {
    height: 45px; /* Slightly smaller on mobile */
  }
}

:root {
  --my-gradient: linear-gradient(
    to right,
    rgb(138, 111, 250),
    rgb(38, 162, 255)
  );
}

#middle-sponsor {
  --gradient: linear-gradient(
    to top right,
    rgb(138, 111, 250),
    rgb(38, 162, 255)
  );
}

#last-sponsor {
  --gradient: rgb(38, 162, 255);
}

.sponsor a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Sujac img {
  width: 100%;
}

#ITS-sponsor {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15vh;
  border-radius: 5px;
  margin-bottom: 5em;
  max-width: 100%;
}

.container-top {
  border-bottom: solid 2px #fff;
  padding: 0.8em;
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(240, 234, 234);
  background-color: var(--secondary-color);
}

.container-content {
  background-color: #9c0059;
  color: rgb(228, 220, 220);
  padding: 0.8em;
  font-size: 1.2rem;
  line-height: 2rem;
  flex-grow: 1;
}

.about-info {
  margin-bottom: 3em;
  margin-right: 2em;
  max-width: 40%;
}

.about-pic {
  max-width: 40%;
  margin-left: 2em;
}

#dream-it .container,
#last-year .container {
  margin: 0 auto;
  filter: none;
}

#dream-it {
  position: relative;
  margin-top: 15vh;
  height: 100vh;
  width: 100vh;
  margin-bottom: 15vh;
}

#last-year {
  margin-top: 30vh;
  margin-bottom: 15vh;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  max-width: 60%;
}

#last-year-img {
  max-width: 600px;
}

@media (max-width: 1600px) {
  #last-year {
    max-width: 75%;
  }
}

@media (max-width: 1350px) {
  #last-year-img {
    max-width: 500px;
  }
}

@media (max-width: 1200px) {
  #last-year-img {
    max-width: 400px;
  }
  #last-year {
    margin-top: 0vh;
  }
}

@media (max-width: 992px) {
  #last-year {
    flex-direction: column;
    margin-top: 0vh;
  }
  #last-year-img {
    max-width: 500px;
  }
  #last-year-info {
    max-width: 80%;
  }
}

@media (max-width: 767px) {
  #last-year {
    margin-top: 10vh;
  }
  #last-year-img {
    max-width: 100%;
  }
  #last-year-info {
    max-width: 100%;
  }
  #mlh-code-conduct-title {
    font-size: 1.5rem;
  }
  #mlh-code-conduct-content {
    font-size: 1.1rem;
  }
}

@keyframes pop-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.pop-up-image {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.pop-up-image.in-view {
  animation: pop-up 1s forwards;
}

#container1 {
  z-index: 2;
  width: 50%;
  position: absolute;
}

#container2,
#container3,
#container4 {
  position: absolute;
  width: 60%;
}

#container2 img,
#container3 img,
#container4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #fff;
  border-radius: 5px;
}

#container1 {
  top: 40%;
  left: -15%;
}

#container2 {
  top: 0%;
  left: 25%;
}

#container3 {
  top: 35%;
  left: 50%;
}

#container4 {
  top: 65%;
  left: 25%;
}

/* Media Query for screens below 1200px */
@media (max-width: 1199px) {
  #dream-it {
    width: 100%;
    height: 100vh;
  }
  #container1 {
    min-width: 80vw;
  }

  #container2,
  #container3,
  #container4 {
    width: 40%;
  }

  #container1 {
    top: 0%;
    left: 8%;
  }

  #container2 {
    top: 23%;
    left: 10%;
  }

  #container3 {
    top: 20%;
    left: 50%;
  }

  #container4 {
    top: 40%;
    left: 45%;
  }
}

@media (max-width: 1024px) {
  #dream-it {
    height: 70vh;
  }
  #container1 {
    top: 0%;
    left: 8%;
  }

  #container2 {
    top: 32%;
    left: 10%;
  }

  #container3 {
    top: 30%;
    left: 50%;
  }

  #container4 {
    top: 52%;
    left: 45%;
  }
}

@media (max-width: 767px) {
  #dream-it {
    margin-top: 10vh;
    position: relative; /* Ensure the container stays within the section */
    height: auto;
    margin-bottom: 0px;
  }

  #container1 {
    position: relative;
    top: auto;
    left: auto;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  #container2,
  #container3,
  #container4 {
    position: relative;
    width: 65%;
    top: auto;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  #container2 {
    margin-top: 20px;
    left: -3%;
  }

  #container3 {
    left: 3%;
  }

  #container4 {
    left: -3%;
  }
}

#dream-it .container-content {
  margin: auto;
}

@media (max-width: 1500px) {

  #Sujac img {
    width: 65%;
  }

  #ITS-sponsor {
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  #about {
    max-width: 70%;
    flex-direction: column;
  }

  .sponsor-wrapper {
    width: 80%;
  }

  .about-info {
    max-width: 100%;
    margin-right: 0;
  }

  .about-pic {
    max-width: 100%;
    margin-left: 0;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .logo img {
    width: 4em;
  }

  .container-top {
    font-size: 1.6rem;
  }

  .container-content {
    font-size: 1.1rem;
  }

  #Sujac img {
    width: 75%;
  }

  .valnet img {
    width: 60%;
  }
  #ITS-sponsor {
    font-size: 1.75rem;
  }

  .sponsor-wrapper {
    width: 80%;
    margin-bottom: 2.5rem;
  }

}

@media (max-width: 720px) {
  #about {
    max-width: 80%;
  }

  .sponsor-wrapper {
    width: 80%;
    margin-bottom: 1rem;
  }

  #ITS-sponsor {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#7d0147, #000000);
  z-index: 2;
}

h1 {
  font-size: 2em;
  margin: 0;
  margin-top: 5vw;
}

#sponsors h1 {
  font-size: 2.25em;
}

.accordion-title {
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 1.5em;
  width: 60%;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion__input:checked + .accordion__label + .accordion__content {
  max-height: 200px;
}

.dummy {
  opacity: 0;
}

#faq {
  display: flex;
  width: 85%;
  margin-top: 10vh;
  padding-bottom: 20vh;
}

.cols {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

#faq .container {
  min-width: 80%;
  border-top: none;
  --shadow-color: hsla(305, 81%, 62%, 0.944);
  filter: none;
}

.accordion__label {
  padding: 1em 1.2em;
  padding-right: 3em;
  font-size: 1.3rem;
}

#faq p {
  margin: 0;
}

.accordion__content {
  padding: 0 1.2em;
  padding-bottom: 1em;
}

.accordion__label {
  display: block;
  color: rgb(240, 234, 234);
  font-weight: 800;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
  align-items: center;
  filter: none;
}

.accordion__label::after {
  content: url("../images/add-symbol.svg");
  position: absolute;
  transform-origin: center;
  top: calc(50% - 10px);
  right: 1.5em;
  background-size: contain;
  transition: transform 0.2s;
}

.accordion__content {
  font-size: 1.1rem;
  display: none;
  animation: fadeIn 1s;
  color: rgb(209, 208, 208);
  filter: none;
}

#faq .container:nth-child(2) {
  border-top: white 2px solid;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
  filter: none;
  opacity: 1;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: rotate(45deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1300px) {
  #faq .container {
    min-width: 90%;
  }
}

@media (max-width: 920px) {
  #faq {
    flex-direction: column;
    align-items: center;
    width: 95%;
  }

  #faq .container {
    filter: none;
  }

  .accordion__label {
    font-size: 1.2rem;
  }

  .accordion__content {
    font-size: 1rem;
  }

  #faq .container {
    min-width: 100%;
  }

  .dummy {
    display: none;
  }

  .cols {
    width: 65%;
  }

  .accordion-title {
    padding-bottom: 1.2em;
    margin-right: auto;
  }
}

@media (max-width: 720px) {
  .cols {
    width: 85%;
  }

  .accordion-title,
  h1 {
    font-size: 1.5rem;
  }

  .accordion__label {
    font-size: 1rem;
  }

  .accordion__content {
    font-size: 0.85rem;
  }
}

.editorial {
  display: block;
  width: 100%;
  height: 65px;
  max-height: 6%;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.parallax1 > use {
  animation: move-forever1 10s linear infinite;

  &:nth-child(1) {
    animation-delay: -2s;
  }
}

.parallax2 > use {
  animation: move-forever2 8s linear infinite;

  &:nth-child(1) {
    animation-delay: -2s;
  }
}

.parallax3 > use {
  animation: move-forever3 6s linear infinite;

  &:nth-child(1) {
    animation-delay: -2s;
  }
}

.parallax4 > use {
  animation: move-forever4 4s linear infinite;

  &:nth-child(1) {
    animation-delay: -2s;
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

#team {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15vh;
}

#cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 215px;
  height: 324px;
  background: rgb(40, 44, 81);
  border: 2px solid #fefefe;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  filter: none;
}

.card-photo {
  margin-top: 10px;
  width: 165px;
  height: 165px;
  border-radius: 30%;
  transition: transform 0.3s ease-out;
}

.card-photo:hover {
  transform: scale(1.1);
}

.card-title {
  text-align: center;
  margin-top: 1em;
  color: #fefefe;
  font-size: 20px;
  font-weight: 400;
}

.card-title span {
  font-size: 15px;
  color: #7e7e7e;
}

.card-socials {
  display: flex;
  height: 0;
  opacity: 0;
  margin-top: 10px;
  gap: 20px;
  transition: 0.5s;
}

.card:hover > .card-socials {
  opacity: 1;
  height: 35px;
}

.card-socials-btn {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.card-socials-btn svg {
  width: 80%;
  height: 100%;
  fill: #fefefe;
}

.card-socials-btn:hover {
  margin-top: 4px;
}

@media (min-width: 720px) {
  .card {
    filter: drop-shadow(1px 2px 8px var(--shadow-color));
    --shadow-color: hsla(280, 100%, 55%, 0.944);
  }
}

@media (max-width: 720px) {
  .card {
    min-width: 95%;
  }
}

hr {
  border: none;
  border-top: 1 solid #ccc;
  margin: 20px 0;
  width: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reversed {
  0% {
    transform: rotate(-2.1deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

#gear1 {
  max-width: 58%;
  animation: spin 20s linear infinite;
}

#gear2 {
  max-width: 42%;
  animation: spin-reversed 20s linear infinite;
  transform: rotate(30deg);
}

.gears {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  position: relative;
  right: 20%;
  top: -10%;
}

#title {
  width: 100%;
}

.logo-title {
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) {
  .main-logo {
    width: 600px;
  }

  #typedtext {
    font-size: 1.4rem;
  }
}

@media (max-width: 800px) {
  .main-logo {
    width: 500px;
  }

  #typedtext {
    font-size: 1.2rem;
  }

  .glowbutton {
    font-size: 0.95rem;
  }
}

@media (max-width: 560px) {
  .main-logo {
    width: 400px;
  }

  #typedtext {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .main-logo {
    width: 350px;
  }

  #typedtext {
    font-size: 1rem;
  }
}

@media (max-width: 420px) {
  .main-logo {
    width: 330px;
  }

  #typedtext {
    margin-bottom: 0.8em;
  }
}
