* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Pattanakarn;
  src: url("../Pattanakarn_Regular.ttf");
}
/* CSS */
:root {
  --text-color: rgb(105, 29, 29);
  --bg-color: rgb(214, 56, 56);
  --shadow-color: rgba(212, 9, 36, 0.5);
  --shadow-hover: rgba(212, 9, 43, 0.8);
}

body {
  font-family: Pattanakarn, JetBrains Mono, monospace;
}

.hero {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent horizontal overflow */
  background: linear-gradient(
      to bottom right,
      rgba(161, 56, 56, 1) 0%,
      rgba(161, 56, 56, 0) 50%
    ),
    linear-gradient(
      to bottom left,
      rgba(88, 28, 129, 1) 0%,
      rgba(88, 28, 129, 0) 50%
    ),
    rgb(0, 0, 0);
}

.hero > * {
  position: absolute;
}

.bits {
  left: 0px;
  width: 20%;
  z-index: 2;
}

.lines {
  top: 50%;
  left: 50%;
  height: 120%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0.9;
}

.logo {
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  z-index: 4;
}

#typedtext {
  font-size: 50px;
}

.date-button {
  position: absolute;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
  color: var(--bg-color);
  z-index: 3;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  margin-right: 30px;
}

.regist-button {
  margin-left: 30px;
  font-size: 30px;
  background-color: var(--bg-color);
  border-radius: 10px;
  font-family: Pattanakarn, JetBrains Mono, monospace;
  box-shadow: var(--shadow-color) 0 -25px 18px -14px inset,
    var(--shadow-color) 0 1px 2px, var(--shadow-color) 0 2px 4px,
    var(--shadow-color) 0 2px 4px, var(--shadow-color) 0 6px 12px,
    var(--shadow-color) 0 6px 12px;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.regist-button:hover {
  box-shadow: var(--shadow-hover) 0 -25px 18px -14px inset,
    var(--shadow-hover) 0 1px 2px, var(--shadow-hover) 0 2px 4px,
    var(--shadow-hover) 0 2px 4px, var(--shadow-hover) 0 6px 12px,
    var(--shadow-hover) 0 6px 12px;
  transform: scale(1.05);
}

@media (max-width: 1199px) {
  .logo {
    top: 25%;
    left: 15%;
    width: 500px;
  }
  .date-button,
  #typedtext {
    font-size: 40px;
  }
  .regist-button {
    font-size: 25px;
  }
  .bits {
    width: 30%;
  }
}

@media (max-width: 800px) {
  .logo {
    top: 25%;
    left: 50%;
    width: 400px;
  }
  .date-button,
  #typedtext {
    font-size: 32px;
  }
  .regist-button {
    font-size: 20px;
    margin-left: 20px;
  }
  .date-button {
    bottom: 30%;
  }
  .date {
    margin-right: 20px;
  }
  
  .bits {
    display: none;
  }
  .lines {
    top: 40%;
  }
}

@media (max-width: 600px) {
  .date-button,
  #typedtext {
    font-size: 30px;
  }
  .regist-button {
    font-size: 20px;
  }
  .date-button {
    bottom: 28%;
  }
}

@media (max-width: 500px) {
  .logo {
    top: 27%;
    width: 350px;
  }
  .date-button {
    flex-direction: column;
    top: 27%;
    margin-top: 140px;
  }
  .date {
    margin: 0 auto;
  }
  .regist-button {
    margin: 0 auto;
  }
}

@media (max-width: 420px) {
  .date-button {
    flex-direction: column;

    margin-top: 120px;
  }
  #typedtext {
    line-height: 1.2;
  }
  .logo {
    width: 320px;
  }
}
